<div class="header">Rock, Paper, Scissors</div>
<div class="box leaderbox">
  <div class="leaderboardheader">Leader Board</div>
  <table style="width:100%">
    <tr>
      <th>Username</th>
      <th>Win Ratio</th>
      <th>Games played</th>
      <th>Last 5 Games</th>
    </tr>
    <tr *ngFor="let line of serve.leaderboardlinelist">
      <th> {{line.name}}</th>
      <th> {{line.winratio}}%</th>
      <th> {{line.gamesplayed}}</th>
      <th> {{line.lastfive}}</th>
    </tr>
  </table>

</div>